<div class="app flex-row align-items-center animated fadeIn">
    <div class="container">
      <h4 class="text-muted text-center">{{projectTitle}}</h4>
      <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-7 col-md-5">
          <div class="card-group mb-0">
            <div class="card authentication p-4">
              <div class="col-md-12 card-body">
                <h5 class="prjct-loading login-feedback text-center"><i class="fa fa-spin fa-circle-o-notch"></i></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>