<div class="row">
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Device List and Status</h2>
             
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Device_id</th>
                                <th>Name</th>
                                <th>Is_active</th>
                                <th>Imei</th>
                                <th>Station</th>


                             
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor= "let com of lstcomments">
                                <td>{{com.id}}</td>
                                <td>{{com.device_id}}</td>
                                <td>{{com.name}</td>
                                <td>{{com.is_active}}</td>
                                <td>{{com.imei}}</td>
                                <td>{{com.station}}</td>

                            </tr>
                            <tr *ngFor= "let com of lstcomments">
                                <td>{{com.id}}</td>
                                <td>{{com.device_id}}</td>
                                <td>{{com.name}</td>
                                <td>{{com.is_active}}</td>
                                <td>{{com.imei}}</td>
                                <td>{{com.station}}</td>

                            </tr>
                            <tr *ngFor= "let com of lstcomments">
                                <td>{{com.id}}</td>
                                <td>{{com.device_id}}</td>
                                <td>{{com.name}</td>
                                <td>{{com.is_active}}</td>
                                <td>{{com.imei}}</td>
                                <td>{{com.station}}</td>

                            </tr>
                            <tr *ngFor= "let com of lstcomments">
                                <td>{{com.id}}</td>
                                <td>{{com.device_id}}</td>
                                <td>{{com.name}</td>
                                <td>{{com.is_active}}</td>
                                <td>{{com.imei}}</td>
                                <td>{{com.station}}</td>

                            </tr>
                            <tr *ngFor= "let com of lstcomments">
                                <td>{{com.id}}</td>
                                <td>{{com.device_id}}</td>
                                <td>{{com.name}</td>
                                <td>{{com.is_active}}</td>
                                <td>{{com.imei}}</td>
                                <td>{{com.station}}</td>

                            </tr>
                            <tr *ngFor= "let com of lstcomments">
                                <td>{{com.id}}</td>
                                <td>{{com.device_id}}</td>
                                <td>{{com.name}</td>
                                <td>{{com.is_active}}</td>
                                <td>{{com.imei}}</td>
                                <td>{{com.station}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>