  <!--================ Header Menu Area start =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light mb-5">
        <div class="container box_1620">
          <a class="navbar-brand logo_h" href="/"><img class="logo"  src="assets/images/img/Securefare.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-end">
              <li class="nav-item active"><a class="nav-link" href="/">Home</a></li> 
              <li class="nav-item"><a class="nav-link" >Pricing</a></li>
          
              <li class="nav-item"><a class="nav-link" routerLink="/login" routerLinkActive="active" >Login</a></li>
            </ul>

            <div class="nav-right text-center text-lg-right py-4 py-lg-0">
              <a class="button btn-dark" href="#b">Book a trip</a>
            </div>
          </div> 
        </div>
      </nav>
    </div>
  </header>
  <!--================Header Menu Area =================-->

  <div id="container">
    <form #form = "ngForm" id="reservationForm" (ngSubmit) = "onReservation(form)">
      <div class="form-group row">
        <label for="schedule" class="col-sm-2 col-form-label"><strong>Schedule</strong></label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="schedule" #nameField = "ngModel" [(ngModel)]= "scheduleId"  name="schedule">
        </div>
      </div>
      <div class="form-group row">
        <label for="class_type" class="col-sm-2 col-form-label"><strong>Class Type</strong></label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="class_type" #nameField = "ngModel" [(ngModel)]= "class_type"  name="class_type">
        </div>
      </div>
      <div class="form-group row">
        <label for="reservation_date" class="col-sm-2 col-form-label"><strong>Reservation Date</strong></label>
        <div class="col-sm-10">
          <input class="form-control" id="reservation_date" type="date" required ngModel #nameField = "ngModel"  name="reservation_date">
        </div>
      </div>
      <div class="form-group row">
        <label for="trip_type" class="col-sm-2 col-form-label"><strong>Trip Type</strong></label>
        <div class="col-sm-10">
          <select class="custom-select form-control-lg" id="trip_type"  ngModel #nameField = "ngModel"  name="trip_type"  required>
            <option value="1">One Way</option>
            <option value="2">Round Trip</option>
            </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="no_of_person" class="col-sm-2 col-form-label"><strong>No Of Person</strong></label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="no_of_person" placeholder=""  ngModel #nameField = "ngModel" name="no_of_person" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="adult" class="col-sm-2 col-form-label"><strong>Adult</strong></label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="adult" placeholder=""  ngModel #nameField = "ngModel" name="adult" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="children" class="col-sm-2 col-form-label"><strong>Children</strong></label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="children" placeholder=""  ngModel #nameField = "ngModel" name="children" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="infant" class="col-sm-2 col-form-label"><strong>Infant</strong></label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="infant" placeholder=""  ngModel #nameField = "ngModel" name="infant" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="user" class="col-sm-2 col-form-label"><strong>User</strong></label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="user" placeholder=""  ngModel #nameField = "ngModel" name="user" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="return_date" class="col-sm-2 col-form-label"><strong>Return Date</strong></label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="return_date" placeholder=""  ngModel #nameField = "ngModel" name="return_date" required>
        </div>
      </div>
      <div>
        <button type="submit" class="btn-reserve">Book Reservation</button>
      </div>
    </form>
    </div>

    <!-- ================ start footer Area ================= -->
  <footer class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-4  col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>About Securefare</h6>
            <p>
              The world has become so fast paced that people don’t want to stand by reading a page of information to be  they would much rather look at a presentation and understand
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>Navigation Links</h6>
            <div class="row">
              <div class="col">
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Feature</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Portfolio</a></li>
                </ul>
              </div>
              <div class="col">
                <ul>
                  <li><a href="#">Team</a></li>
                  <li><a href="#">Pricing</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div>										
            </div>							
          </div>
        </div>							
        <div class="col-lg-4  col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>Newsletter</h6>
            <p>
              For business professionals caught between high OEM price and mediocre print and graphic output.									
            </p>								
            <div id="mc_embed_signup">
              <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscription relative">
                <div class="input-group d-flex flex-row">
                  <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                  <button class="btn bb-btn"><span class="lnr lnr-location"></span></button>		
                </div>									
                <div class="mt-10 info"></div>
              </form>
            </div>
          </div>
        </div>
   						
      </div>

      <div class="footer-bottom">
        <div class="row align-items-center">
          <p class="col-lg-8 col-sm-12 footer-text m-0 text-center text-lg-left"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          <div class="col-lg-4 col-sm-12 footer-social text-center text-lg-right">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
          
          </div>
        </div>
      </div>
    </div>
  </footer>