<div class="align-items-center animated fadeIn p-4" style="left: 50%; top: 50%;">
  <div class="container create-admin-container" >
    <div class="row">
      <div class="col-md-6 default-container">
        <div class="card prjct-soft-corners">
          <div class="card-body p-4">
            <h1>Create Schedule</h1>
            <p class="text-muted">Fill:</p>
<form>
<div class="form-group">
  <label for="exampleFormControlSelect1">Id</label>
  <select class="custom-select">
      <option selected>Id</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
</div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Lagos..">
  </div>

  <div class="form-group">
      <label for="exampleFormControlInput1">Description</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Description">
    </div>

  <div class="form-group">
      <label for="exampleFormControlSelect1">Train</label>
      <select class="custom-select">
          <option selected>Select Train</option>
          <option value="1">Train One</option>
          <option value="2"> Train Two</option>
          <option value="3">Train Three</option>
          <option value="4">Train Four</option>

        </select>
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect1">Days</label>
        <select class="custom-select">
            <option selected>Select Days</option>
            <option value="1">Monday</option>
            <option value="2"> Tuesday</option>
            <option value="3">Wednesday</option>
            <option value="4">Thursday</option>
            <option value="5">Friday</option>
            <option value="6">Saturday</option>
            <option value="7">Sunday</option>
              

          </select>
      </div>

 
      <div class="form-group">
          <label for="exampleFormControlSelect1">State</label>
          <select class="custom-select">
              <option selected>Select State</option>
              <option value="1">Lagos</option>
              <option value="2">Lagos</option>
              <option value="3">Lagos</option>
            </select>
        </div>

        <div class="form-group">
          <label for="arrive" class="float-left">Arrival Time</label>
          <div class="input-group">
          <input type="time" class="form-control" id="arrive" placeholder="Arrival Time">
      </div>
    </div>

    <div class="form-group">
      <label for="depart" class="float-left">Departure Time</label>
      <div class="input-group">
      <input type="time" class="form-control" id="depart" placeholder="Departure Time">
  </div>
</div>

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Source</label>
                    <select class="custom-select">
                        <option selected>From</option>
                        <option value="1">Lagos</option>
                        <option value="2">Lagos</option>
                        <option value="3">Lagos</option>
                      </select>
                  </div>

                  <div class="form-group">
                      <label for="exampleFormControlSelect1">Destination</label>
                      <select class="custom-select">
                          <option selected>To</option>
                          <option value="1">Lagos</option>
                          <option value="2">Lagos</option>
                          <option value="3">Lagos</option>
                        </select>
                    </div>

                 
          
                    <div class="form-check form-check-inline p-2">
                        <input class="form-check-input radio" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Round Trip</label>
                      </div>
                      <div class="form-check form-check-inline p-2">
                        <input class="form-check-input radio" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">One Way</label>
                      </div>


        
       

</form>
</div>
</div>
</div>
</div>
</div>
</div>
